<ion-view title="Connect">


<div class="tabs-striped tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
         Available Wifi
      </a>
      <a class="tab-item" href="#/sideMenu/addWifi">
        <i class="icon ion-ios-location"></i>
        Download Passwords
      </a>
      
    </div>
  </div>

<div class="bar bar-subheader">
  <ul class="list">
<li class="item item-toggle">
     Auto Connect
     <label class="toggle toggle-balanced">

       <input type="checkbox" ng-model="form.val" ng-change="change(form)" ng-true-value="'true'" ng-false-value="'false'" >
       <div class="track">
         <div class="handle" />
       </div>
     </label>
  </li>
</ul>
</div>

<ion-content overflow-scroll="true" class="has-subheader has-header has-footer">


<div class="list card" ng-repeat="router in routers track by $index">
          
    <a class="item item-avatar" ng-click="router_clicked(router,$index) "href="#">
      <img src="img/wifi-icon-1.png"></img>  
      <h2>{{router.SSID}}</h2>
      <p>Last seen speed ( 17/01/2016 ) : 2.3Mbps</p>
    </a>

    </div>

</ion-content>


 
</ion-view>
