<ion-view title="Credits Earned">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
    <div class="card">
        <div class="item item-divider">
            Data shared
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <!--div class="card">
        <div class="item item-divider">
            A bar chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div-->
    <div class="card">
  <div class="item item-divider">
    Credits Earned
  </div>
  <div class="item item-text-wrap">
    200 credits
  </div>
  <!--div class="item item-divider">
    I'm a Footer in a Card!
  </div-->
</div>

</ion-content>
</ion-view>